{% if product.metafields["prod"]["units_sold_text"] != blank %}
  <div class="custom-field custom-field__units-sold-text custom-field__type--single-line-text-field">
    <h3 class="custom-field--title">Units Sold Text</h3>
    <div class="custom-field--value">
      {{ product.metafields["prod"]["units_sold_text"] }}

    </div>
  </div>
{% endif %}