{% if product.metafields["reviews"]["rating_count"] != blank %}
  <div class="custom-field custom-field__rating-count custom-field__type--number-integer">
    <h3 class="custom-field--title">Product rating count</h3>
    <div class="custom-field--value">
{{ product.metafields["reviews"]["rating_count"] | metafield_tag }}

    </div>
  </div>
{% endif %}