<style>
  .section-categories-mobile__container {
      display: grid;
      grid-template-columns: 50% 50%;
  }
  
  
  .section-categories-mobile__item {
      border-right: 2px solid #e9e9e9;
      border-bottom: 2px solid #e9e9e9;    
  }
  
  
  .section-categories-mobile__item:nth-child(even){
      border-right: 0
  }
  
  .section-categories-mobile__item a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
  }
  
  .section-categories-mobile__item a p {
      font-size: 14px!important;
      font-weight: bold!important;
  }
  
  @media only screen and (min-width: 600px) {
      .section-categories-mobile {
          display: none!important;
      }   
  }
</style>

<div class="section-categories-mobile__container">

  {% for block in section.blocks %}

    {% case block.type %}

        {% when 'category' %}

        <div {{ block.shopify_attributes }} class="section-categories-mobile__item">
          <a href="{{ block.settings.link }}">
            <p>{{ block.settings.category }}</p>
          </a>
        </div>


    {% endcase %}

  {% endfor %}
  
</div>

{% schema %}
  {
    "name": "Categories Mobile",
	"tag": "section",
  	"class": "section-categories-mobile",
	"blocks": [
		{
			"name": "Category",
			"type": "category",
			"settings": [
                {
                  "type": "text",
                  "id": "category",
                  "label": "Category"
                },
				{
                  "type": "url",
                  "id": "link",
                  "label": "Link"
				}
			]
		}
	],
	"presets": [
    {
      "name": "Categories Mobile",
      "category": "Custom"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}