{% if product.metafields.custom.dyno_results %}

  <div class="multiple-image__container">

    <div class="multiple-image__heading">
      <h3 class="heading h3"><span class="red">Dyno</span> Results</h3>
    </div>
    <div class="multiple-image__images">
      {% for image in product.metafields.custom.dyno_results.value %}
         <img loading="lazy" src="{{ image | img_url: 'large' }}" alt="Imagen">
      {% endfor %}
    </div>
    
  </div>

{% endif %}

{% schema %}
  {
    "name": "Dyno Results",
    "tag": "section",
    "class": "multiple-image",
	"presets": [
      {
        "name": "Dyno Results"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}