{% comment %}

{% assign product_handles = request.query_param.handles | split: "," %}

<div id="collection-search-results">
  {% assign found_products = false %}

  {% for product in collections.all.products %}
    {% if product_handles contains product.handle %}
      {% assign found_products = true %}
      {% if customer.b2b? %}
        {%- render 'product-item-b2b', product: product, collection: collection, block: block, sizes_attribute: sizes_attribute, reveal: settings.stagger_products_apparition -%}
      {% else %}
        {%- render 'product-item', product: product, collection: collection, block: block, sizes_attribute: sizes_attribute, reveal: settings.stagger_products_apparition -%}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% unless found_products %}
    <p>No products found.</p>
  {% endunless %}
</div>

{% endcomment %}




{% schema %}
  {
    "name": "Filtered Products",
    "settings": []
  }
{% endschema %}