<div class="how_work_div" style="background-color:#fff">
  <div class="reward_max">
    <h3>How It Works</h3>        
    
    <div class="how_work_div_flex">
      
      <div class="how_work_div_flex_inner">
        <div class="how_work_div_flex_inner_img">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0018/0142/0861/files/REWARDS-PROGRAM-ICONS-1.jpg?v=1727441322" alt="">
          <span> <img loading="lazy" src="https://cdn.shopify.com/s/files/1/2704/9302/files/icon-number-1.svg?v=1629113351" alt=""></span>
        </div>
        <div class="how_work_div_flex_inner_text">
          <h4>JOIN</h4>
          <p>Start earning rewards right away</p>
        </div>
      </div>
      
      <div class="how_work_div_flex_inner">
        <div class="how_work_div_flex_inner_img">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0018/0142/0861/files/REWARDS-PROGRAM-ICONS-2.jpg?v=1727441322" alt="">
          <span> <img loading="lazy" src="https://cdn.shopify.com/s/files/1/2704/9302/files/icon-number-2.svg?v=1629113351" alt=""></span>
        </div>
        <div class="how_work_div_flex_inner_text">
          <h4>EARN POINTS</h4>
          <p>Earn points for every dollar spent</p>
        </div>
      </div>
      
      <div class="how_work_div_flex_inner">
        <div class="how_work_div_flex_inner_img">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0018/0142/0861/files/REWARDS-PROGRAM-ICONS-3.jpg?v=1727441322" alt="">
          <span> <img loading="lazy" src="https://cdn.shopify.com/s/files/1/2704/9302/files/icon-number-3.svg?v=1629113351" alt=""></span>
        </div>
        <div class="how_work_div_flex_inner_text">
          <h4>REDEEM</h4>
          <p>Redeem your points for discounts</p>
        </div>
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "How Work Growave",
    "tag": "section"
  }
{% endschema %}