{{ 'styles-eec.css' | asset_url | stylesheet_tag }}

<section class="main-section-eec">
  <div class="main-section-eec__content">

    <div class="left">
      <p class="top-left-corner title">
        The Killer Audio System Checklist: The 5 Biggest Mistakes First-Time Upgraders Make When Installing LOUD Speakers That Lead to Freaking Out Over Your Dead Car Battery, 
        Popping Sounds While You Drive, and Even Setting Your Car on Fire (And How to Avoid Them)
      </p>
  
      <div class="lower-left-corner">
        <div class="container-imagen">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0018/0142/0861/files/DS18-LOGO-reply.jpg">
          <div class="heading">
            <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0018/0142/0861/files/imagen-banner-eec.jpg">
            <h1>KILLER AUDIO CHECKLIST</h1>
          </div>    
        </div>
        <div class="klaviyo-form-SzjQ53"></div>
      </div>
    </div>

    <div class="right">
      <ul class="top-right-corner paragraph">
        <li>You'll learn about the hidden dangers of improper wiring.</li>
        <li>Why you should rethink your desire for massive speakers.</li>
        <li>And the simplest mistake people make that ends up causing way more damage than you can imagine.</li>
        <li>This free email course gives you everything you need to make your first car speaker purchase as good as gold.</li>
      </ul>
  
      <p class="middle-right-side title">
        Are you ready to install your new speakers the right way?
      </p>
  
      <p class="lower-right-corner paragraph">
        <span>
          My name is Aaron Zook and I've spent the last 20 years working with every kind of speaker system you can imagine.
        </span>
        <span>
          I'm going to show you how to avoid the mistakes first-timers make -- including myself, once upon a time -- so you can enjoy the best of 
          your speakers without any of the hassle or awful surprises.
        </span>
      </p>
    </div>

    
  </div>
</section>


<section class="second-section-eec">
  <div class="second-section-eec__content">

    <p class="title">
      Want to make sure this free email course is “worth it” before you sign-up?
    </p>

    <p class="subtitle">
      Here's everything that's inside:
    </p>

    <ul class="days">
      <li><b>Day 1:</b> Buying speakers that are too large or too deep <b>can make your new setup look goofy, and mess with your windows and door locks.</b></li>
      <li><b>Day 2:</b> Not calibrating the power source with your speakers, which will <b>lead to early wear and tear on your speakers causing early or imminent failure.</b></li>
      <li><b>Day 3:</b> Failing to properly secure the speakers will <b>diminish the value of your car by ruining its interior and have your speakers making rattling or bussing sounds.</b></li>
      <li><b>Day 4:</b> How incorrectly wiring the speakers is <b>one of the easiest ways to bust your amp.</b></li>
      <li><b>Day 5:</b> Not fastening all connections will damage your equipment through overheating, or, even worse… <b>set your car on fire!</b></li>
    </ul>

    <div class="klaviyo-form-SzjQ53"></div>
    
  </div>
</section>


{{ 'script-eec.js' | asset_url | script_tag }}


{% schema %}
  {
    "name": "EEC",
    "tag": "section",
    "class": "section-eec-modulo"
  }
{% endschema %}