<h3>DS18 POINTS REWARD PROGRAM TERMS AND CONDITIONS</h3>

<div class="container-list">

  <ul class="list_one">
    <li>Your rewards account is activated by signup/login</li>
    <li>Points cannot be earned or redeemed retroactively</li>
    <li>Points are not earned on Sales Tax or Shipping</li>
    <li>Points are redeemable for discounts on merchandise only</li>
    <li>Points are not redeemable for cash</li>
  </ul>

  <ul class="list_two">
    <li>Points are not transferable and accounts cannot be merged</li>
    <li>DS18 has the right to change awards, guidelines, and restrictions at any time</li>
    <li>Wholesale accounts cannot activate rewards accounts</li>
    <li>Redeemed Points and discounts cannot be combined. Only one discount code per order</li>
  </ul>

</div>

{% schema %}
  {
    "name": "Terms & Conditions",
    "class": "terms-conditions-rewards",
    "tag": "section"
  }
{% endschema %}