<section class="section no-spacing">
  <div class="section__color-wrapper">
    <div class="container padding-extra accordion">
      <div class="page-content--product">
        <div class="page-width"></div>
      </div>
    </div>
  </div>
</section>

 
{% schema %}
{
  "name": "DS18 Frequently Bought",
  "tag": "section",
  "class": "yth-frequently-bought",
  "settings": [{
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }]
}
{% endschema %}
