/* ESTILOS "BUYING WITH AFFIRM IS SIMPLE" */

div#shopify-section-template--16781163397181__37f89d78-9b42-49b0-8901-349909d99f21 section.section {
    margin-bottom: 0;
}

div#shopify-section-template--16781163397181__065313b9-68e0-4b3d-aa66-c2ef5aeb2bb3 {
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px){
    div#shopify-section-template--16781163397181__065313b9-68e0-4b3d-aa66-c2ef5aeb2bb3 {
        margin-bottom: 90px;
    }   
}


/* ESTILOS "SAY YES WITH CONFIDENCE" */

div#shopify-section-template--16781163397181__text_with_icons_cRwVCw {
    display: none;
}

#shopify-section-template--16781163397181__74b963fb-f703-4cb9-8803-26677ee718c7 .vertical-breather {
    padding: 50px 20px 0;
}

#shopify-section-template--16781163397181__74b963fb-f703-4cb9-8803-26677ee718c7 .content-box * {
    margin: 0;
}

#shopify-section-template--16781163397181__74b963fb-f703-4cb9-8803-26677ee718c7 .content-box h1 {
    font-size: 50px;
    line-height: 50px;
}

#shopify-section-template--16781163397181__74b963fb-f703-4cb9-8803-26677ee718c7 .content-box h4 {
    font-size: 20px;
    line-height: 30px;
}

#shopify-section-template--16781163397181__74b963fb-f703-4cb9-8803-26677ee718c7 .content-box p {
    margin-top: 15px;
    border-bottom: white solid 1px;
    padding-bottom: 30px;
    font-size: 15px;
    line-height: 25px;
}

div#shopify-section-template--16781163397181__text_with_icons_c8wDDN .container.vertical-breather {
    padding: 30px 30px 50px;
}

div#shopify-section-template--16781163397181__text_with_icons_c8wDDN .container.vertical-breather * {
    font-family: Montserrat, serif !important;
    letter-spacing: 0;
}

@media only screen and (min-width: 1000px){
    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw {
        display: block;
    }

    div#shopify-section-template--16781163397181__74b963fb-f703-4cb9-8803-26677ee718c7,
    div#shopify-section-template--16781163397181__text_with_icons_c8wDDN {
        display: none!important;
    }

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw .section--flush {
        max-width: 1600px;
        margin: auto;
    }

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw .vertical-breather {
        padding: 50px 30px!important;
    }

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw .text-with-icons__list {
        gap: 0;
    }

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw native-carousel-item {
        border-left: white solid 1px;
        padding: 10px 50px;
    }

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw native-carousel-item:first-child {
        border: 0;
    }

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw native-carousel-item:first-child .text-with-icons__icon-wrapper {
        display: none!important;
    }

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw native-carousel-item p.heading {
        margin: 0;
        font-size: 20px;
        font-family: Montserrat, serif !important;
        letter-spacing: 0;
    }

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw native-carousel-item p {
        margin-top: 5px;
        font-size: 15px
    } 

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw native-carousel-item .text-with-icons__icon-wrapper {
        margin-bottom: 20px;
    }

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw native-carousel-item:first-child * {
        margin: 0;
    }

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw native-carousel-item:first-child h1 {
        font-size: 50px;
        line-height: 50px;
    }

    div#shopify-section-template--16781163397181__text_with_icons_cRwVCw native-carousel-item:first-child h4 {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 20px;
    }
}



/* ESTILOS "SAY YES WITH CONFIDENCE - TERMINOS" */

div#shopify-section-template--16781163397181__dcbdfba5-24a6-4492-943a-b10a5a9ff188 .content-box--left {
    margin: 0;
}

div#shopify-section-template--16781163397181__dcbdfba5-24a6-4492-943a-b10a5a9ff188 p {
    font-size: 13px;
    text-align: center;
}

@media only screen and (min-width: 768px){
    div#shopify-section-template--16781163397181__dcbdfba5-24a6-4492-943a-b10a5a9ff188 p {
        font-size: 15px;
        text-align: left;
    }   
}



/* ESTILOS "FAQS" */

div#shopify-section-template--16781163397181__7c5a670d-efb6-475c-96d8-542d5ea552d6 {
    max-width: 1600px;
    margin: auto
}

div#shopify-section-template--16781163397181__7c5a670d-efb6-475c-96d8-542d5ea552d6 * {
    font-family: Montserrat, serif !important;   
}

div#shopify-section-template--16781163397181__7c5a670d-efb6-475c-96d8-542d5ea552d6 h3.heading.h2 {
    text-transform: unset!important;
}