function $TotalPrices(){

  setTimeout(function() {
    
    var basePrice = 283.90;

    var amp = $('.color-swatch__amp > input:checked').val();
    var speakers = $('.color-swatch__speakers > input:checked').val();
    var instalation = $('.color-swatch__installation-kit > input:checked').val();


    if(amp.includes('Black')){
      var ampPrice = 0;
    } else if(amp.includes('Red')){
      var ampPrice = 0;
    };
 
    if(speakers.includes('4 pro-x6.4bm')){
      var speakerPrice = 0;
    } else if(speakers.includes('4 pro-x8.4bm')){
      var speakerPrice = 15;
    };

    if(instalation.includes('Ampkit 4')){
      var instalationPrice = 39.95;
    } else if(instalation.includes("I Don't Need")){
      var instalationPrice = 0;
    };


    var TotalPrice = (basePrice + ampPrice + speakerPrice + instalationPrice).toLocaleString('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 2, maximumFractionDigits: 2 });


    $('.product-meta__price-list-container span.price.price--large').text(TotalPrice);
    $('.purchase-summary .summary-total-general--total__tub').replaceWith('<p class="summary-total-general--total__tub">'+ TotalPrice +'</p>');
    
  }, 300);

};

function $trigger($option,$variant,$selectorParent){
  if ($option.includes('AMP')) {
    if($variant.includes('Black')){
      $selectorParent.replaceWith('<div class="variante"> + $0.00 </div>');
      $('.purchase-summary .summary-additional__color').replaceWith('<p class="summary-additional__color">Color <b>(Standard)</b></p>');
      $('.purchase-summary .summary-additional__color-type').replaceWith('<p class="summary-additional__color-type">Black</p>');
      $('.purchase-summary .summary-additional__color-price').replaceWith('<p class="summary-additional__color-price">$0.00</p>');
    } else if($variant.includes('Red')){
      $selectorParent.replaceWith('<div class="variante"> + $0.00 </div>');
      $('.purchase-summary .summary-additional__color').replaceWith('<p class="summary-additional__color">Color <b>(Standard)</b></p>');
      $('.purchase-summary .summary-additional__color-type').replaceWith('<p class="summary-additional__color-type">Red</p>');
      $('.purchase-summary .summary-additional__color-price').replaceWith('<p class="summary-additional__color-price">$0.00</p>');
    };
  } else if($option.includes('Speakers')) {
    if($variant.includes('4 pro-x6.4bm')){
      $selectorParent.replaceWith('<div class="variante"> + $0.00 </div>');
      $('.purchase-summary .summary-additional__speakers').replaceWith('<p class="summary-additional__speakers">Speaker <b>(Standard)</b></p>');
      $('.purchase-summary .summary-additional__speakers-type').replaceWith('<p class="summary-additional__speakers-type">4 pro-x6.4bm</p>');
      $('.purchase-summary .summary-additional__speakers-price').replaceWith('<p class="summary-additional__speakers-price">$0.00</p>');
    } else if($variant.includes('4 pro-x8.4bm')){
      $selectorParent.replaceWith('<div class="variante up-price"> + $15.00 </div>');
      $('.purchase-summary .summary-additional__speakers').replaceWith('<p class="summary-additional__speakers tag-up-title">Speaker <b>(Standard)</b></p>');
      $('.purchase-summary .summary-additional__speakers-type').replaceWith('<p class="summary-additional__speakers-type tag-up-label">4 pro-x8.4bm</p>');
      $('.purchase-summary .summary-additional__speakers-price').replaceWith('<p class="summary-additional__speakers-price tag-up-price">+ $15.00</p>');
    };
  } else if($option.includes('Installation Kit')) {
    if($variant.includes('Ampkit 4')){
      $selectorParent.replaceWith('<div class="variante up-price"> + $39.95 </div>');
      $('.purchase-summary .summary-additional__installation').replaceWith('<p class="summary-additional__installation tag-up-title">Installation Kit <b>(Standard)</b></p>');
      $('.purchase-summary .summary-additional__installation-type').replaceWith('<p class="summary-additional__installation-type tag-up-label">Ampkit 4</p>');
      $('.purchase-summary .summary-additional__installation-price').replaceWith('<p class="summary-additional__installation-price tag-up-price">+ $39.95</p>');
    } else if($variant.includes("I Don't Need")){
      $selectorParent.replaceWith('<div class="variante"> + $0.00 </div>');
      $('.purchase-summary .summary-additional__installation').replaceWith('<p class="summary-additional__installation">Installation Kit <b>(Standard)</b></p>');
      $('.purchase-summary .summary-additional__installation-type').replaceWith("<p class='summary-additional__installation-type'>I Don't Need</p>");
      $('.purchase-summary .summary-additional__installation-price').replaceWith('<p class="summary-additional__installation-price">$0.00</p>');
    };
  }
};

function $constructor(){

  $('.product-form__buy-buttons').prepend(
      
    '<div class="purchase-summary">'+
      '<div class="purchase-summary__container">'+
        '<h3>Purchase Summary</h3>' +

        '<div class="summary-total">' +
          '<p>Total</p>' +
        '</div>' +
      
        '<div class="summary-tub">' +
          '<p>AMP Standard</p>' +
          '<p class="tub__total">$283.90</p>' +
        '</div>' +


        '<div class="summary-additional">' +

          '<div class="summary-additional__row">' +
            '<p class="summary-additional__color">Color</p>' +
            '<p class="summary-additional__color-type"></p>' +
            '<p class="summary-additional__color-price"></p>' +
          '</div>' +
    
          '<div class="summary-additional__row">' +
            '<p class="summary-additional__speakers">Speaker</p>' +
            '<p class="summary-additional__speakers-type"></p>' +
            '<p class="summary-additional__speakers-price"></p>' +
          '</div>' +

          '<div class="summary-additional__row">' +
            '<p class="summary-additional__installation">Installation</p>' +
            '<p class="summary-additional__installation-type"></p>' +
            '<p class="summary-additional__installation-price"></p>' +
          '</div>' +
          
        '</div>' +

        '<div class="summary-total-general">' +
    
          '<div class="summary-total-general--continer-line summary-total-general--continer-line__total-tub">' +
            '<p>Total Price</p>' +
            '<p class="summary-total-general--total__tub"></p>' +
          '</div>' +

        '</div>' +

      '</div>' +
    
    '</div>'
  );
  
  $( "product-variants .product-form__option-selector" ).each(function() {
      $(this).find('.product-form__option-info').append('<div class="total-variant-precios-total"><div class="variante"></div><div class="total">Total: </div></div>');
      var $select = $(this).find('input:checked').siblings('label');
      var $option = $select.parents('.product-form__option-selector').find('.product-form__option-info .product-form__option-name').text().replace(/:/g, "");
      var $variant = $select.siblings('input').val();
      var $selectorParent = $select.parents('.product-form__option-selector').find('.total-variant-precios-total .variante');      
      $trigger($option,$variant,$selectorParent);
  });

  $TotalPrices();
};

$constructor();

$(document).on("click", "label.color-swatch__item", function() {
    var $option = $(this).parents('.product-form__option-selector').find('.product-form__option-info .product-form__option-name').text().replace(/:/g, "");
    var $variant = $(this).siblings('input').val();
    var $selectorParent = $(this).parents('.product-form__option-selector').find('.total-variant-precios-total .variante');
    $trigger($option,$variant,$selectorParent);
    $TotalPrices();
});