.shopify-section.product-block-nvy {
    padding: 30px 0;
}

.shopify-section.product-block-nvy .product-block-nvy__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopify-section.product-block-nvy .product-block-nvy__container h3 {
    color: #345d61;
    text-align: center;
    font-family: Montserrat, serif !important;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
}

.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
}


.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > .slick-slider {
    width: calc(100% - 80px)
}

.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > button.slick-button-custom {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > button.slick-button-custom svg {
    width: 60%;
}

.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > .slick-slider ul.slick-dots {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > .slick-slider ul.slick-dots li {
    font-size: 0;
    width: 45px;
    margin: 5px;
    height: 5px;
    border-radius: 1px;
    background: #cdcdcd;
}

.shopify-section.banner-slider-nvy .banner-slider-nvy__container > .slick-slider ul.slick-dots li.slick-active {
    background: #a7a7a7;
}

.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > .slick-slider .slick-track > .product {
    margin: 0 10px;
}

.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > .slick-slider .slick-track > .product a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #a7a7a7 solid 1px;
    border-radius: 15px;
    padding: 30px 20px;
}

.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > .slick-slider .slick-track > .product a p.product-name {
    color: black;
    font-family: Montserrat, serif !important;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0;
}

.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > .slick-slider .slick-track > .product a .product-imagen {
    font-family: Montserrat, serif !important;
    line-height: 0;
}

.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > .slick-slider .slick-track > .product a .product-imagen img {
    width: 100%
}

.shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > .slick-slider .slick-track > .product a .button {
    font-family: Montserrat, serif !important;
    border-radius: 0;
    background: black;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

@media only screen and (min-width: 1100px){
    .shopify-section.product-block-nvy {
        padding: 50px 0;
    }

    .shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > button.slick-button-custom {
        display: none;
    }

    .shopify-section.product-block-nvy .product-block-nvy__container .product-block-nvy--slider > .slick-slider {
        width: 100%;
    }

    .shopify-section.product-block-nvy .product-block-nvy__container h3 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 30px;
    }
}